.burger-button {
    display: none;
    padding: 8px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: var(--color-B);
    color: var(--color-A);
    /* font-size: 16px; */
    line-height: 2em;
    text-align: center;
    position: fixed;
    top: 5px;
    left: 5px;
    transition: 500ms;
}

@media screen and (max-width: 767px){
    .burger-button {
        display: block;
        z-index: 1000;
    }
    .burger-button:hover {
        transition: 500ms;
        width: 45px;
        height: 45px;
        /* font-size: 25px; */
        line-height: 2em;
    }
}