/*header*/
.header{
	height: auto;
	width: auto;
	display: flex;
	justify-content: center;
	background-color:var(--white-color);
	color: var(--Main-color);
}
.header-container{
	max-width: inherit;
	flex: 1;
	height: inherit;
	display: inherit;
	justify-content: space-between;
}
.logo-nav-container{
  position: relative;
}
.logo-container{
  display: flex;
}
.logo-figure{
	margin: 0;
	padding: 0;
}
.logito{
	width: 50px;
}
.logo-link{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.burger-button{	
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: var(--P-color);
	color:white;
	display: none;
	font-size: 22.5px;
	line-height: 2em;
	text-align: center;
	position: fixed;
	top: 5px;
	left: 5px;
	transition: 500ms;
}
.menu{
	margin: 0 12px 0 0;
	display: flex;
	align-items: center;
}
header ul,header li{
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}
.menu-options{
	padding: 0 1vw;
	color: var(--applegrey-color);
	text-decoration: none;
}
.menu-options:hover{
	color: white;
}
/*header*/


