/*Footer*/
.footer{
	height: auto;
	width: auto;
	display: flex;
	border-top: 1px solid var(--color-A4);
	justify-content: center;
	background-color:var(--color-A);
	color: var(--color-A4);
}
.footer-container{
	max-width: inherit;
	flex: 1;
	height: inherit;
	display: inherit;
	justify-content: space-between;
}
.footer-text{
	margin: 10px 20px;
}

/*Footer*/


