/*header*/
.header{
	height: auto;
	width: auto;
	display: flex;
	justify-content: center;
	background-color:var(--color-A4);
	color: var(--color-A);
	transition: 500ms background-color cubic-bezier(0.6, -0.28, 0.735, 0.045);
	z-index: 1000;

}
.header:hover{
	background-color: var(--color-A);
}
.header-text{
	margin: 5px;
	cursor: pointer;
	font-family: Monoton, 'Segoe UI', Arial, Helvetica;
	font-size: 30px;
	font-weight: lighter;
	margin: 5px;
	align-self: center;
	color: var(--color-A);
	transition: 500ms color cubic-bezier(0.6, -0.28, 0.735, 0.045);
	
}
.header:hover .header-text{
	color: var(--color-B);
}

/*header*/


