#NotFound{
    justify-content: center;
    color: var(--color-A);
    background-color: var(--color-A4);
}

.NotFound-main{
    display:flex; 
    justify-content: center; 
    align-items:center;
    text-Align:center;
}