.Video{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-video{
    display: flex;
    position: relative;
}

.theVideo{
    width: 95vw;
}

@media screen and (min-width: 768px){
    .Video{
        margin: 1vw;
    }
    .theVideo{
        width: 70vw;
    }
}

@media screen and (min-width:  1024px){
    .theVideo{
        width: 60vw;
    }
}