#Video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-video{
    display: flex;
    position: relative;
}
.theVideo{
    width: 100vw;

}
@media screen and (min-width: 1024px){
    .theVideo{
        width: 700px;
    } 
}